<!doctype html>
<html lang="eu">
<head>
    <title> Enter Values</title>
</head>
   <body>

       <h3>Register the customer.</h3>
       {{data}}

      <form action = "http://localhost:5000/success" method = "POST">

         <p>a <input type = "number" name = "a" /></p>

         <p>b <input type = "number" name = "b" /></p>

         <p>c <input type = "number" name = "c" /></p>

         <p>d <input type ="number" name = "d" /></p>

          <p>message <input type ="text" name = "message" /></p>

         <p><input type = "submit" value = "submit" /></p>

      </form>

   </body>

</html>